@CHAR SET "UTF-8";

body {
	background-color: #efefff;
	text-align: center;
}

div.loginbar {
	padding: 5px;
	text-align: right;
	font-size: small;
	display: table;
	width: 98%;
}

header {
	margin: auto;
	width: 1024px;
	background: white;
	border-bottom: thin solid gray;
	display: table;
}

header div h1 {
	text-align: left;
	font-size: xx-large;
	font-weight: bold;
	color: #8f0000;
}

header div h2 {
	text-align: left;
	font-size: x-large;
	font-weight: bold;
}

header img {
	display: table-cell;
}

header div {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
}

article {
	text-align: left;
	margin: auto;
	width: 900px;
	background: white;
	padding: 20px;
	font-family: 'Alegreya' !important;
	font-size: medium !important;
	font-style: normal !important;
}

footer {
	background: white;
	width: 900px;
	padding: 20px;
	margin: auto;
	margin-top: 2px;
	text-align: left;
	display: table;
}

#slideshow1 {
	margin: auto;
}

div.single-image-container {
	text-align: center;
}

div.extrainfo {
	color: gray;
	font-family: 'Pfenning' !important;
	font-size: small !important;
	font-style: normal !important;	
}

div.errorinfo {
	padding: 2px;
	background-color: #fcc;
	border: 1px solid red;
	font-family: 'Pfenning' !important;
	font-size: small !important;
	font-style: normal !important;	
}

#credits {
	display: table-cell;
	padding-left: 15px;
}

#credits a {
	color: gray;
}

#poweredby {
	display: table-cell;
	padding-left: 50px;
}

#poweredby ul {
	list-style: none;
}