div.hud-button-panes {
	position: absolute;
	right: 0px;
	/*opacity: 0;*/
}

div.hud-button-panes div.hud-button-pane {
	background-color: rgba(102, 102, 102, 0.5);
	width: 100px;
	vertical-align: middle;
	margin: 3px;
	padding: 2px;
	position: relative;
}

div.hud-button-panes div.hud-button-pane img.hud-button {
	display: inline;
	width: 20px;
	margin: auto;
}

div.hud-button-panes div.hud-button-pane img.hud-button-stars {
	display: inline;
	margin: auto;
}

div.hud-button-panes div.hud-button-pane p {
	color: white;
	display: inline;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	font-size: 1.1em;
}

div.hud-button-panes div.hud-button-pane div.counter-overlay {
    text-align: right;
    position: absolute;
    top: 0px;
    width: 100px;
    font-size: xx-small;
    font-family: sans-serif;
}

div.exif {
	background-color: rgba(102, 102, 102, 0.5);
	width: 100px;
	vertical-align: middle;
	margin: 3px;
	padding: 2px;
}