{% extends 'WLMJuryToolBundle::layout.html.twig' %}
{% block title %}
{{ 'Create a New Round'|trans }}
{% endblock %}
{% block content %}

<form action="{{ path('wlm_jury_tool_config') }}" method="post" {{ form_enctype(round_form) }}>
    {{ form_widget(round_form) }}
    <input type="submit" value="{{ 'Create'|trans }}" />
</form>

{% endblock %}
