{ "identifier": "id",
"items": [
{% for r in results %}
	{
	  "id":"{{ r['id']|raw }}",	
	  "thumb":"{{ r['thumbnail']|raw }}",
	  "large":"{{ r['thumbnail']|raw }}",
	  "title":"{{ r['name'] }}",
	  "link":"{{ r['url']|raw }}"
	},
{% endfor %}
    {
        "id":"-1",
        "thumb":"{{  asset("bundles/wlmjurytool/images/nomorephotos.png") }}",
        "large":"{{  asset("bundles/wlmjurytool/images/nomorephotos.png") }}",
        "title":"No More Photos",
        "link":"{{  asset("bundles/wlmjurytool/images/nomorephotos.png") }}",
    }
]}
