{% extends 'WLMJuryToolBundle::layout.html.twig' %}
{% block title %}{{ 'Round %round%'|trans({'%round%': round.id}) }}{% endblock %}
{% block content %}
{% if is_granted('ROLE_ADMIN') %}
<div class="extrainfo">
<p>{{ 'Click <a href="%s">here</a> for the administration interface of this round'|trans|format(path('wlm_jury_tool_admin', {'id': round.id}))|raw }}
</div>
{% endif %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<div data-dojo-id="imageItemStore" data-dojo-type="dojo/data/ItemFileReadStore" data-dojo-props="url: '{{ path('wlm_jury_tool_round_list', { id: round.id }) }}'"></div>
<div data-dojo-type="dojox/image/SlideShow" id="slideshow1" data-dojo-props="titleTemplate:'${title}', imageWidth: 800, imageHeight: 600"></div>
{% if round.scoringMode == "binary" %}
<div data-dojo-type="js/wlm/JuryToolBinaryHUD" data-dojo-props="over: 'slideshow1', userID: {{ app.user.id }}, yesString: '{{ 'Yes'|trans }}', noString: '{{ 'No'|trans }}'{% if round.canViewOtherVotes %}, shouldRequestOtherVotes: true{% endif %}"></div>
{% endif %} {% if round.scoringMode == "stars" %}
<div data-dojo-type="js/wlm/JuryToolStarsHUD" data-dojo-props="over: 'slideshow1', userID: {{ app.user.id }}, imagesURL: '{{  asset("bundles/wlmjurytool/images") }}'{% if round.canViewOtherVotes %}, shouldRequestOtherVotes: true{% endif %}"></div>
{% endif %} 
<script>
require(["dijit/registry", "dojo/ready"], function(registry, ready) {
	ready(function() {
	var request= {count:20, start:0};
    var itemNameMap = {imageLargeAttr: "large"};
    
    registry.byId('slideshow1').setDataStore(window.imageItemStore, request, itemNameMap);
	});
});
</script>
{% endblock %}
