{% extends 'WLMJuryToolBundle::layout.html.twig' %}

{% block title %}{{ 'This is not the current round'|trans }}{% endblock %}

{% block content %}
{% if upcoming %}
<p>{{ 'This round has not started yet.'|trans }}</p>
{% else %}
<p>{{ 'This  round already finished.'|trans }}</p>
{% endif %}
{% endblock %}