{% extends 'WLMJuryToolBundle::layout.html.twig' %}

{% block title %}{{ 'Not Invited'|trans }}{% endblock %}

{% block content %}
<p>{{ 'This round is invitational and you are not configured as an invited jury of this round.'|trans }}</p>
{% endblock %}