<?xml version="1.0" encoding="utf-8"?>
<scoreResponse>
    <status value="{{ status }}"/>
    <mode value="{{  mode }}"/>
    <scores>
{% for s in scores %}
        <score user="{{ s.user.id }}" score="{{ s.score }}"/>
{% endfor %}
    </scores>
</scoreResponse>