{% extends 'WLMJuryToolBundle::layout.html.twig' %}
{% block title
%}{{ 'Round %round%'|trans({'%round%': round.id}) }}
{% endblock %}
{% block content %}
{% if is_granted('ROLE_ADMIN') %}
<div class="extrainfo">
<p>{{ 'Click <a href="%s">here</a> for the administration interface of this round'|trans|format(path('wlm_jury_tool_admin', {'id': round.id}))|raw }}
</div>
{% endif %}
{% if image is not null %}
<script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
<script src="{{ path('fos_js_routing_js', {"callback": "fos.Router.setData"}) }}"></script>
<div class="single-image-container">
<a href="{{ image.url }}" target="_blank">
<img id="photo" src="{{ image.thumbnail }}"
	alt="{{ image.name }}"></img>
</a>
</div>
{% if round.scoringMode == "binary" %}
<div data-dojo-type="js/wlm/JuryToolBinaryHUD" data-dojo-props="over: 'photo', userID: {{ app.user.id }}, currentImageID: {{ image.id }}, yesString: '{{ 'Yes'|trans }}', noString: '{{ 'No'|trans }}'{% if round.canViewOtherVotes %}, shouldRequestOtherVotes: true{% endif %}"></div>
{% endif %} {% if round.scoringMode == "stars" %}
<div data-dojo-type="js/wlm/JuryToolStarsHUD" data-dojo-props="over: 'photo', userID: {{ app.user.id }}, imagesURL: '{{  asset("bundles/wlmjurytool/images") }}' , currentImageID: {{ image.id }}{% if round.canViewOtherVotes %}, shouldRequestOtherVotes: true{% endif %}"></div>
{% endif %}
{% else %}
<div class="extrainfo">
<p>{{ 'No more images to score in this round. Depending on the configuration of this round, images may be added later.'|trans }}</p>
</div>
{% endif %}
{% endblock %}
