{% extends 'WLMJuryToolBundle::layout.html.twig' %}
{% block title %}{{ 'Administration Interface for Round %round%'|trans({ '%round%': round.id }) }}{% endblock %}
{% block content %}
{% if canRoundBeClosed %}
<div class="extrainfo">
<p>{{ 'According to the scoring policy of this round, this round can now be closed and you can <a href="%s">create a new round</a>.'|trans|format(path('wlm_jury_tool_config'))|raw }}</p> 
</div>
{% endif %}
{% block inputform %}
<p>
	<a href="{{ path('wlm_jury_tool_round', { 'id': round.id }) }}">{{ 'Start reviewing this round'|trans }}</a>
</p>
{% endblock %}
{% if users is not  null %}
<h2>{{ 'Jurors for this Round'|trans }}</h2>
{% if round.users is not empty %}
<ul>
	{% for user in round.users %}
	<li>{{ user.username }} &lt;{{ user.email }}&gt; <a href="{{ path('wlm_jury_tool_admin_export_user', { 'id': round.id, 'username': user.username }) }}">{{ stats[user.username]['total'] }}</a></li>
	{% endfor %}
</ul>
{% else %}
<div class="extrainfo">
<p>{{  'No jurors added to this round. Use the form below to add new jurors.'|trans }}</p>
</div>
{% endif %}
<h3>{{ 'Available Jurors'|trans }}</h3>
{% if users is not empty %}
<form action="{{ path('wlm_jury_tool_admin_acl', { 'id': round.id }) }}" method="post">
	<ul>
		{% for user in users %}
		<li><input name="userids[]" type="checkbox" value="{{ user.id }}"><label for="user_id">{{ user.email }}</label></li>
		{% endfor %}
	</ul>
	<br> <input type="submit" value="{{ 'Add Selected Jurors'|trans }}"></input>
</form>
{% else %}
<div class="extrainfo">
<p>{{  'No jurors available for this round. New jurors should <a href="%s">register</a> themselves to be listed in this form.'|trans|format(path('fos_user_registration_register'))|raw }}</p>
</div>
{% endif %}
{% endif %}
<h2>{{ 'Statistics'|trans }}</h2>
<p>
	Total number of photos: <a href="{{ path('wlm_jury_tool_admin_export', { 'id': round.id }) }}">{{ stats['numberOfPhotos'] }}</a>
</p>
{% if users %}
<ul>
	{% for user in round.users %}
	<li>{{ user.username }} &lt;{{ user.email }}&gt;
	<ul>
    {% if round.scoringMode == "stars" %}
	{% set cumulative = 0 %}
	{% for t in stats[user.username]['tally'] %}
	{% set cumulative = cumulative + t %}
	<li> {{ '%stars% stars:'|trans({ '%stars%': loop.index0 }) }} <a href="{{ path('wlm_jury_tool_admin_export_user_score', { 'id': round.id, 'username': user.username, 'score': loop.index0 }) }}">{{ t }}</a> ({{ 'cumulative:'|trans }} <a href="{{ path('wlm_jury_tool_admin_export_score', { 'id': round.id, 'score': '%s-'|format(loop.index0) }) }}">{{ cumulative }}</a>, {{ 'rest:'|trans }} <a href="{{ path('wlm_jury_tool_admin_export_score', { 'id': round.id, 'score': '%s+'|format(loop.index0) }) }}">{{ stats[user.username]['total'] - cumulative + t }}</a>)</li>
	{% endfor %}
	{% endif %}
    {% if round.scoringMode == "binary" %}
	{% for t in stats[user.username]['tally'] %}
	<li>{{ cycle(['No'|trans, 'Yes'|trans], loop.index0) }}: <a href="{{ path('wlm_jury_tool_admin_export_user_score', { 'id': round.id, 'username': user.username, 'score': loop.index0 }) }}">{{ t }}</a></li>
	{% endfor %}
	{% endif %}	
	</ul>
	</li>
	{% endfor %}
</ul>
{% endif %}
<ul>
    {% if round.scoringMode == "stars" %}
    {% set cumulative = 0 %}
	{% for t in stats['tally'] %}
	{% set cumulative = cumulative + t %}
	<li> {{ '%stars% stars:'|trans({ '%stars%': loop.index0 }) }} <a href="{{ path('wlm_jury_tool_admin_export_score', { 'id': round.id, 'score': loop.index0 }) }}">{{ t }}</a> ({{ 'cumulative:'|trans }} <a href="{{ path('wlm_jury_tool_admin_export_score', { 'id': round.id, 'score': '%s-'|format(loop.index0) }) }}">{{ cumulative }}</a>, {{ 'rest:'|trans }} <a href="{{ path('wlm_jury_tool_admin_export_score', { 'id': round.id, 'score': '%s+'|format(loop.index0) }) }}">{{ stats['total'] - cumulative + t }}</a>)</li>
	{% endfor %}
	{% endif %}
    {% if round.scoringMode == "binary" %}
	{% for t in stats['tally'] %}
	<li>{{ cycle(['No'|trans, 'Yes'|trans], loop.index0) }}: <a href="{{ path('wlm_jury_tool_admin_export_score', { 'id': round.id, 'score': loop.index0 }) }}">{{ t }}</a></li>
	{% endfor %}
	{% endif %}
</ul>
{% endblock %}
