{% extends 'WLMJuryToolBundle:Admin:round.html.twig' %}

{% block inputform %}
<form action="{{ path('wlm_jury_tool_admin_round_load', {'id': round.id}) }}" method="post" enctype="multipart/form-data">
<label for="plaintext">{{ 'Upload a plain text file containing one image name per line to specify the images for this round'|trans }}</label>
<br>
<input type="file" name="plaintext">
<br>
<input type="submit">
</form>
{% endblock %}