{% extends 'WLMJuryToolBundle:Admin:round.html.twig' %} {% block inputform %}
<form action="{{ path('wlm_jury_tool_admin_round_load', {'id': round.id}) }}" method="post">
    {% if app.session.hasFlash('error') %}
    <div class="errorinfo">
    {{ app.session.flash('error') }}
    </div>
    {% endif %}
	<label for="commonscat">{{ 'Specify the Wikimedia Commons category that will be used to load this round'|trans }}</label>
	<br>
	<input name="commonscat" size="100">
	<br>
	<input name="recurrent" id="recurrent" type="checkbox" value="1" /> <label for="recurrent">{{ 'Load images from this category on a daily basis?'|trans }}</label>
	<br>
	<input type="submit">
</form>
{% endblock %}
