<div class="hud-button-panes">
	<div class="hud-button-pane" data-dojo-attach-point="stars0">
		<img src="${imagesURL}/stars0.png" class="hud-button-star" />
		<div class="counter-overlay">
			<p data-dojo-attach-point="stars0Counter"></p>
		</div>
	</div>
	<div class="hud-button-pane" data-dojo-attach-point="stars1">
		<img src="${imagesURL}/stars1.png" class="hud-button-star" />
		<div class="counter-overlay">
			<p data-dojo-attach-point="stars1Counter"></p>
		</div>
	</div>
	<div class="hud-button-pane" data-dojo-attach-point="stars2">
		<img src="${imagesURL}/stars2.png" class="hud-button-star" />
		<div class="counter-overlay">
			<p data-dojo-attach-point="stars2Counter"></p>
		</div>
	</div>
	<div class="hud-button-pane" data-dojo-attach-point="stars3">
		<img src="${imagesURL}/stars3.png" class="hud-button-star" />
		<div class="counter-overlay">
			<p data-dojo-attach-point="stars3Counter"></p>
		</div>
	</div>
	<div class="hud-button-pane" data-dojo-attach-point="stars4">
		<img src="${imagesURL}/stars4.png" class="hud-button-star" />
		<div class="counter-overlay">
			<p data-dojo-attach-point="stars4Counter"></p>
		</div>
	</div>
	<div class="hud-button-pane" data-dojo-attach-point="stars5">
		<img src="${imagesURL}/stars5.png" class="hud-button-star" />
		<div class="counter-overlay">
			<p data-dojo-attach-point="stars5Counter"></p>
		</div>
	</div>
</div>