<div class="hud-button-panes">
	<div id="wlmjurytoolhud-yes" class="hud-button-pane" data-dojo-attach-point="yesButton">
		<img src="https://openclipart.org/people/Anselmus/Anselmus_Green_Checkmark_and_Red_Minus.svg" class="hud-button" />
		<p>${yesString}</p>
		<div class="counter-overlay">
			<p data-dojo-attach-point="yesCounter"></p>
		</div>
	</div>
	<div id="wlmjurytoolhud-no" class="hud-button-pane" data-dojo-attach-point="noButton">
		<img src="https://openclipart.org/people/Anselmus/Anselmus_Green_Checkmark_and_Red_Minus_1.svg" class="hud-button" />
		<p>${noString}</p>
		<div class="counter-overlay">
			<p data-dojo-attach-point="noCounter"></p>
		</div>
	</div>
</div>