<!DOCTYPE html>
<html>
<head>
<title>Wiki Loves Monuments - {{ 'Jury Tooly'|trans({}, 'WLMJuryToolBundle') }}</title>
<link rel="stylesheet" media="screen" rel="stylesheet" type="text/css"
	href="http://openfontlibrary.org/face/pfennig" />
<link rel="stylesheet" media="screen" type="text/css"
	href="http://openfontlibrary.org/face/alegreya" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="{{  asset("bundles/wlmjurytool/css/main.css") }}">
<script src="//ajax.googleapis.com/ajax/libs/dojo/1.9.1/dojo/dojo.js"></script>
</head>
<body>
	<header>
		<img
			src="http://upload.wikimedia.org/wikipedia/commons/thumb/f/f3/LUSITANA_WLM_2011_d.svg/200px-LUSITANA_WLM_2011_d.svg.png"
			alt="Wiki Loves Monuments Logo" title="Wiki Loves Monuments Logo">
		<div class="titlediv">
			<h1>{{ 'Jury Tool'|trans({}, 'WLMJuryToolBundle') }}</h1>
			<h2>{% block title %}{% endblock %}</h2>
			<div class="loginbar extrainfo">
				{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %} {{
				'layout.logged_in_as'|trans({'%username%': app.user.username},
				'FOSUserBundle') }} | <a
					href="{{ path('fos_user_security_logout') }}"> {{
					'layout.logout'|trans({}, 'FOSUserBundle') }} </a> {% else %} <a
					href="{{ path('fos_user_security_login') }}">{{
					'layout.login'|trans({}, 'FOSUserBundle') }}</a> {% endif %}
			</div>
		</div>
	</header>
	<article>
		{% for type, messages in app.session.flashbag.all() %} {% for key,
		message in messages %}
		<div class="flash-{{ type }}">{{ message|trans({}, 'FOSUserBundle') }}
		</div>
		{% endfor %} {% endfor %}

		<div>
		{% block fos_user_content %}
		{% endblock fos_user_content %}
		</div>
	</article>
	<footer>
	   <div class="extrainfo">
	       <div id="credits">
	           <p><em>{{ 'Design and Development by'|trans }}</em> <a href="mailto:david.narvaez@computer.org">David E. Narv&aacute;ez</a></p>
	           <p><em>{{ 'Image Credits'|trans }}</em>
	           <ul>
	               <li><a href="https://openclipart.org/user-detail/Anselmus">Anselmus</a> @ <a href="http://www.openclipart.org/">Open Clipart</a></li>
	               <li><a href="https://openclipart.org/user-detail/jhnri4">jhnri4</a> @ <a href="http://www.openclpart.org">Open Clipart</a></li>
               </ul>
           </div>
           <div id="poweredby">
               <p><em>{{ 'Powered by'|trans }}</em>
               <ul>
                   <li><a href="http://dojotoolkit.org"><img src="http://dojotoolkit.org/images/logos/dojoLogo150Black.png" width="50" alt="Dojo Toolkit" title="Dojo Toolkit"></a></li>
                   <!-- <li></li> -->
               </ul>
           </div>
       </div>
	</footer>
</body>
</html>