{% block composed_widget %}
{% spaceless %}
{{ block('choice_widget') }}
<script>

document.getElementById('{{ id }}').onchange = function() {
	{% for value, widget in subwidgets %}
	document.getElementById('{{ id }}_{{ value }}').style.display = 'none';
	{% endfor %}

	var currentVal = document.getElementById('{{ id }}').value;
	document.getElementById('{{ id }}_' + currentVal).style.display = 'block';
}

</script>
{% for value, widget in subwidgets %}
<div id="{{ id }}_{{ value }}" style="display: none">
{% if widget is not null %}
{{ form_label(widget) }}
{{ form_widget(widget) }}
{% endif %}
</div>
{% endfor %}
{% endspaceless %}
{% endblock %}